* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", sans-serif;
  color: white;
}

:root {
  --main-color: #D81B31;
  --green-color: #3abe18;
  --orange-color: #e16c1c;
  --purple-color: #AC167B;
}

body {
  background-color: rgb(17, 17, 17);
}
body header nav {
  width: 100%;
  height: 60px;
  border-bottom: solid 3px;
  border-color: var(--main-color);
  padding: 15px 0;
}
body header nav .merch-button {
  margin: 0px 10px 0px 0px;
  width: 30px;
  height: 30px;
}
body header nav .merch-button-logo {
  background: url("/assets/svg/Logo_small.svg") no-repeat center;
  background-image: url("/assets/svg/Logo_small.svg");
  background-size: contain;
  float: left;
}
body header nav .merch-button-search {
  background: url("/assets/svg/Search.svg") no-repeat center;
  background-image: url("/assets/svg/Search.svg");
  background-size: contain;
  float: left;
}
body header nav .merch-button-menu {
  background: url("/assets/svg/Menu.svg") no-repeat center;
  background-image: url("/assets/svg/Menu.svg");
  background-size: contain;
  float: right;
  margin: 0;
}
body .slider {
  width: 100%;
}
body .author-list {
  margin-top: 40px;
}
body .author-list .wrapper {
  display: flex;
  overflow-x: scroll;
}
body .author-list .wrapper .author {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  height: inherit;
  display: flex;
}
body .author-list .wrapper .author .avatar {
  border-radius: 100%;
  width: 90px;
  height: 90px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  position: relative;
}
body .author-list .wrapper .author .avatar img {
  position: absolute;
  -webkit-clip-path: circle(50%);
          clip-path: circle(50%);
  -o-object-fit: cover;
     object-fit: cover;
  width: inherit;
  height: inherit;
}
body .author-list .wrapper .author .name {
  text-align: center;
  width: inherit;
  height: 20 px;
}
body .author-list .wrapper .author:first-child {
  margin-left: 0;
}
body .author-list .wrapper .author:last-child {
  margin-right: 0;
}
body .wrapper::-webkit-scrollbar {
  height: 3px;
  background-color: #1a1a1a;
}
body .wrapper::-webkit-scrollbar-thumb {
  background-color: #7e7e7e;
  border-radius: 20px;
}
body .product-list {
  width: 100%;
  margin-top: 40px;
}
body .product-list .wrapper {
  display: flex;
  flex-wrap: wrap;
}
body .product-list .wrapper .product {
  min-width: 50%;
  border: solid 1px var(--purple-color);
  margin-bottom: 10px;
}
body .product-list .wrapper .product .image {
  width: inherit;
  height: 180px;
  border: solid 1px var(--purple-color);
}
body .product-list .wrapper .product .info {
  width: inherit;
  height: 45px;
  background-color: var(--main-color);
}
body .product-list .wrapper .product .info .name {
  width: inherit;
  border: solid 1px var(--purple-color);
}
body .product-list .wrapper .product .info .author {
  width: inherit;
  border: solid 1px var(--purple-color);
}
body .product-list .wrapper .product .info .action {
  width: inherit;
  border: solid 1px var(--purple-color);
  display: flex;
}
body .product-list .wrapper .product .info .action .price {
  width: inherit;
}
body .product-list .wrapper .product .info .action .icons {
  width: inherit;
}
body footer {
  width: 100%;
}

@media screen and (max-width: 480px) {
  body {
    padding: 0px 15px;
  }
}
.parallelogram {
  margin-left: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 4px 15px;
  color: white;
  font-weight: 700;
  height: 30px;
  transform: skew(-15deg);
  background: var(--main-color);
}/*# sourceMappingURL=style.css.map */