* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    color: white;
}


:root {
    --main-color: #D81B31;
    --green-color: #3abe18;
    --orange-color: #e16c1c;
    --purple-color: #AC167B;
  }

body {
    background-color: rgb(17, 17, 17);
    header {
        nav {
            width: 100%;
            height: 60px;
            border-bottom: solid 3px;
            border-color: var(--main-color);
            padding: 15px 0;
            .merch-button{
                margin: 0px 10px 0px 0px;
                width: 30px;
                height: 30px;
            }
            .merch-button-logo {
                background: url("/assets/svg/Logo_small.svg") no-repeat center;
                background-image: url("/assets/svg/Logo_small.svg");
                background-size: contain;
                float: left;
            }
            .merch-button-search {
                background: url("/assets/svg/Search.svg") no-repeat center;
                background-image: url("/assets/svg/Search.svg");
                background-size: contain;
                float: left;
            }
            .merch-button-menu {
                background: url("/assets/svg/Menu.svg") no-repeat center;
                background-image: url("/assets/svg/Menu.svg");
                background-size: contain;
                float: right;
                margin: 0;
            }

        }
    }
    .slider {
        width: 100%;
    }
    .author-list{
        margin-top: 40px;
    
        .wrapper{
            display: flex;
            overflow-x: scroll;

            .author{
                margin: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100px;
                height: inherit;
                display: flex;

                .avatar{
                    border-radius: 100%;
                    width: 90px;
                    height: 90px;
                    margin-bottom: 10px;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    img {
                        position: absolute;
                        clip-path: circle(50%);
                        object-fit: cover;
                        width: inherit;
                        height: inherit;
                    }
                }
                .name{
                    text-align: center;
                    width: inherit;
                    height: 20  px;
                }
            }
            .author:first-child{
                margin-left: 0;
            }
            .author:last-child{
                margin-right: 0;
            }
        }
        }
        .wrapper::-webkit-scrollbar {
            height: 3px;
            background-color: #1a1a1a;
        }
        .wrapper::-webkit-scrollbar-thumb {
            background-color: #7e7e7e;
            border-radius: 20px;
        }
    .product-list {
        width: 100%;
        margin-top: 40px;
        .wrapper{
            display: flex;
            flex-wrap: wrap;
            .product{
                min-width: 50%;
                border: solid 1px var(--purple-color);
                margin-bottom: 10px;
                .image{
                    width: inherit;
                    height: 180px;
                    border: solid 1px var(--purple-color);
                }
                .info{
                    width: inherit;
                    height: 45px;
                    background-color: var(--main-color) ;
                    .name{
                        width: inherit;
                        border: solid 1px var(--purple-color);
                    }
                    .author{
                        width: inherit;
                        border: solid 1px var(--purple-color);
                    }
                    .action{
                        width: inherit;
                        border: solid 1px var(--purple-color);
                        display: flex;
                        .price{
                            width: inherit;
                        }
                        .icons{
                            width: inherit;
                        }
                    }
                }
            }
        }
    }
    footer {
        width: 100%;
    }
}





// ---Media---

// ---Modile(0-480)---
@media screen and (max-width: 480px){
    body {
        padding: 0px 15px;
    }
}
// ---Tablet/Larger smartphone(481-768)---
@media screen and (min-width: 481px) and (max-width: 768px){

}
// ---laptop/Large tablet(-)---
@media screen and (min-width: 769px) and (max-width: 1279px){

}

// ---ExtraLarge(1280+)---
@media screen and (min-width: 1280px){

}

// shapes
.parallelogram {
    margin-left: 5px;
    width: fit-content;
    padding: 4px 15px;
    color: white;
    font-weight: 700;
    height: 30px;
    transform: skew(-15deg);
    background: var(--main-color);
}